body {
  width: 240px;
  min-height: 30px;
  margin: 0;
  padding: 0;
}

ul.counters {
  list-style: none;
  margin: 0;
  padding: 0;

  li.counter {
    margin: 0 0 1px 0;
    padding:0;
    color: #9E8989;
    background-color: #FCEDD6;
    border-left: 5px solid #937D7D;
    height: 50px;

    &:nth-child(odd) {
      background-color: #F9F1E6;
      color: #655656;
    }

    &:hover {
      border-color: #655656;
    }

    .counter-heading {
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 30px;

      .counter-name {
        line-height: 30px;
        font-weight: 600;
      }
  
      .counter-count {
        float: right;
        line-height: 30px;
        font-weight: 600;
        color: #3B96CC;
      }
    }

    .counter-footer {
      height: 20px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 30px;

      .counter-time {
        color: #BCBBBE;
      }
  
      .counter-menu {
        display: none;
        float: right;
        color: #BCBBBE;
        display: none;
      }
    }

    &:hover {
      .counter-menu {
        display: block;
        cursor: pointer;
      }
    }

    .counter-actions {
      float: right;
      width: 30px;

      a {
        outline: none;
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: 800;

        &[data-action="inc"] {
          height: 30px;
          line-height: 30px;
          background-color: #20C584;
          color: #198D60;
        }

        &[data-action="dec"] {
          height: 20px;
          line-height: 20px;
          background-color: #F8F8F8;
          color: #BCBBBE;
        }
      }
    }
  }
}